body{
	 font-family: helvetica, arial, geneva, sans-serif; 
     background-color: #f7ce8a;
    
}

h1{
  text-align: center;
}

div.paragraph{
  background-color: #ffff;
}

span.paragraphTitle{
  background-color: #faff
}